%p
  = "Erreur d'importation : #{GathererCardUrl.all.count}"
  %br
  = "Cartes importées : #{Card.all.count}"
  %br
  = "Reprints : #{Reprint.all.count}"

%h2 TODO :
%ul
  %li IMPORT D'UN DECK A PARTIR D'UNE URL MTGTOP8
  %li ajouter les jetons (et vérifier le total de carte pour chaque édition)
  %li Ajouter les autres visuels pour les terrains base
  %li Sidekiq pour la validitié des decks
  %li elasticsearch pour la recherche des decks

%h2 EN COURS :
%ul
  %li bitfields sur deck et format, puis module de recherche
  %li module de recherche deck par format, couleurs, incluant tel cartes, ratio creature, etc, equilibrage couleurs
  %li module de recherche carte par criteres : type couleur format cout mana attaque/defense editions, mot clef, texte d'ambiance, dessinateur

%h2 actions
%p= link_to 'Checker la validité des decks', admin_deck_validity_path, class: 'btn btn-xs btn-danger', method: :post

%h3 editions manquantes:

= "- guild of ravnica mythic edition"
= "- ravnica allegance mythic edition"
= "- war of the spark mythic edition"

%p
  1 -> faire l'export des extensions (et cartes) date de sortie et code logo pour les extensions
  2 -> faire l'import
  3 -> refaire l'import avec tous les basics lands

  problemes

  terrains de bases manquants dans les extensions

  vérifier bien que les cartes doubles ne compte que comme 1 seule carte dans les extensions (x cartes y nouvelles etc)

  via elastic search, rechercher les cartes les plus jouées

  = "-> indexer toutes les cartes"
  = "-> indexer tous les decks"
