%h1 exporter la base
%p symfony
%p= "Erreur d'importation : #{GathererCardUrl.all.count}"
%p= "Cartes importées : #{Card.all.count}"
%p= "Extensions sans visuels : #{ExtensionSet.without_visual.count}"
%p= "Reprints : #{Reprint.all.count}"
%p TODO : ajouter les jetons (et vérifier le total de carte pour chaque édition)
%p TODO : Ajouter les autres visuels pour les terrains base
%p https://edgeguides.rubyonrails.org/active_job_basics.html
