%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to 'Extensions', admin_extension_sets_path
        %li= link_to 'Utilisateurs', admin_users_path
        %li= link_to 'Blocs', admin_blocs_path
        %li= link_to 'Set Listes', admin_set_lists_path
        %li= link_to 'Formats', admin_formats_path
