.text-center.login-pannel
  %h2 Create an account

  .block
    %small or
    = link_to 'Login', connexion_path, class: 'underline'
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'devise-form' }) do |f|
    = devise_error_messages!
    .form-group
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'email@domain.com'
    .form-group
      = f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: 'password'
    .form-group
      = f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: 'password confirmation'
    .form-group
      = f.submit "Create my account", class: 'btn btn-sm btn-primary'
