%h3 Extension Sets
%table.table.admin-set-list
  - @sets.each do |set|
    %tr
      %td.col-md-1.text-center
        %i{ class: "ss ss-common ss-2x ss-#{set.code&.downcase}" }
      %td.col-md-1= set.release_date&.strftime("%m/%d/%Y")
      %td.col-md-2
        - type = set.set_type ? I18n.t("enum.extension_set.set_type.#{set.set_type}") : 'NC'
        = "#{set.name} (#{type})"
      %td.col-md-2= set.cards.count
      %td.col-md-2
        - errors = set.gatherer_card_urls.count
        - if errors.positive?
          = link_to "#{errors} erreurs d'importation", admin_extension_set_gatherer_card_urls_path(set.id)

      %td.col-md-2
        = link_to 'voir', admin_extension_set_path(set), class: 'btn btn-primary btn-xs'
        = link_to 'editer', edit_admin_extension_set_path(set), class: 'btn btn-warning btn-xs'
