%h1
  %i{ class: "ss ss-common ss-#{@set.code&.downcase}" }
  = @set.name
%hr

= link_to "Matcher reimpression", find_reeditions_admin_extension_set_path(@set.id), method: :post, class: 'btn btn-success btn-sm'
= link_to "Update data", update_data_admin_extension_set_path(@set.id), method: :post, class: 'btn btn-success btn-sm'

%hr
- if @white_cards.any?
  %h3 White
  %ul.cards-list.classic= render partial: 'extension_sets/simple_view', collection: @white_cards, as: :card, locals: { show_collection: false }
- if @blue_cards.any?
  %h3 Blue
  %ul.cards-list.classic= render partial: 'extension_sets/simple_view', collection: @blue_cards, as: :card, locals: { show_collection: false }
- if @black_cards.any?
  %h3 Black
  %ul.cards-list.classic= render partial: 'extension_sets/simple_view', collection: @black_cards, as: :card, locals: { show_collection: false }
- if @red_cards.any?
  %h3 Red
  %ul.cards-list.classic= render partial: 'extension_sets/simple_view', collection: @red_cards, as: :card, locals: { show_collection: false }
- if @green_cards.any?
  %h3 Green
  %ul.cards-list.classic= render partial: 'extension_sets/simple_view', collection: @green_cards, as: :card, locals: { show_collection: false }
- if @gold_cards.any?
  %h3 Gold
  %ul.cards-list.classic= render partial: 'extension_sets/simple_view', collection: @gold_cards, as: :card, locals: { show_collection: false }
- if @colorless_artefact_cards.any?
  %h3 Artefacts
  %ul.cards-list.classic= render partial: 'extension_sets/simple_view', collection: @colorless_artefact_cards, as: :card, locals: { show_collection: false }
- if @land_cards.any?
  %h3 Lands
  %ul.cards-list.classic= render partial: 'extension_sets/simple_view', collection: @land_cards, as: :card, locals: { show_collection: false }
- if @colorless_non_artefact.any?
  %h3 Autre
  %ul.cards-list.classic= render partial: 'extension_sets/simple_view', collection: @colorless_non_artefact, as: :card, locals: { show_collection: false }
