%h1 Mentions légales

%p<
  Lordyawgmoth.com est un site internet à but non professionnel et non commercial. Il est hebérgé en France par
  = link_to 'ovh', 'https://www.ovh.com/fr/', target: '_blank'
  \.

%h2 Cookies

Lordyawgmoth.com ne collecte aucun cookie excepté le cookie de session, ce cookie est nécessaire pour le bon fonctionnement du site. Il n'utilise aucun cookie de suivi, de mesure d'audience, ou publicitaire.

%h2 Données personnelles

%p Lordyawgmoth.com est actuellement en construction. La création de compte n'est pas encore possible. Aucune donnée personnelle n'est collectée.

%h2 Contenu

%p<
  Lordyawgmoth.com a pour objet le jeu de cartes à collectionner
  = link_to 'Magic: The Gathering', 'https://magic.wizards.com', target: '_blank'
  \.
  Magic: The gathering est un jeu de cartes à jouer et à collectionner créé par
  = link_to 'Wizards of the Coast', "https://www.wizards.com", target: '_blank'
  \.
  Lordyawgmoth.com est un contenu de fan non officiel autorisé dans le cadre de la politique des contenus de fans. Ni approuvé, ni promu par Wizards. Certaines parties des matériaux utilisés sont la propriété de Wizards of the Coast. ©Wizards of the Coast LLC.
  La politique de Wizards relative aux contenus de Fans est consultable
  = link_to 'ici', 'https://company.wizards.com/fr/legal/fancontentpolicy', target: '_blank'
  \.
  %br
  Lordyawgmoth.com est entièrement gratuit.

%h3 Autres ressources

%p>
  Lordyawgmoth.com utilise des données provenant de
  = succeed "." do
    = link_to 'mtgson', 'https://mtgjson.com/', target: '_blank'
  Lordyawgmoth.com utilise également l'API
  = link_to 'scryfall', 'https://scryfall.com/', target: '_blank'
  pour récupérer les illustrations, ainsi que les bibliothèques
  = link_to 'Keyrune', 'https://keyrune.andrewgioia.com/', target: '_blank'
  et
  = succeed "." do
    = link_to 'Mana', 'https://mana.andrewgioia.com/', target: '_blank'
