- @block_sets.each do |sets_by_type|
  .ext-type
    - if sets_by_type.class == Array
      - sets_by_type.each do |sets_by_block|
        .ext-bloc
          - sets_by_block.each do |set|
            = link_to extension_set_path(slug: set.slug), { class: "ext-set" } do
              %i{ class: "ss ss-common ss-#{set.code&.downcase}" }
              %p= set.name
    - else
      - sets_by_type.each do |set|
        = link_to extension_set_path(slug: set.slug), { class: "ext-set" } do
          %i{ class: "ss ss-common ss-#{set.code&.downcase}" }
          %p= set.name
    %hr
