%h3 Blocs
%table.table.js-extension-cards
  - @block_sets.each do |set|
    %tr
      %td.col-md-1= image_tag(set.set_visual.url, class: 'list-set-logo') if set.set_visual.url
      %td.col-md-11= link_to set.name, extension_set_path(slug: set.slug)

%h3 Editions de base
%table.table.js-extension-cards
  - @basic_editions.each do |set|
    %tr
      %td.col-md-1= image_tag(set.set_visual.url, class: 'list-set-logo') if set.set_visual.url
      %td.col-md-11= link_to set.name, extension_set_path(slug: set.slug)

%h3 Masterpieces
%table.table.js-extension-cards
  - @masterpieces.each do |set|
    %tr
      %td.col-md-1= image_tag(set.set_visual.url, class: 'list-set-logo') if set.set_visual.url
      %td.col-md-11= link_to set.name, extension_set_path(slug: set.slug)

%h3 From the Vaults
%table.table.js-extension-cards
  - @from_the_vaults.each do |set|
    %tr
      %td.col-md-1= image_tag(set.set_visual.url, class: 'list-set-logo') if set.set_visual.url
      %td.col-md-11= link_to set.name, extension_set_path(slug: set.slug)

%h3 Duels decks
%table.table.js-extension-cards
  - @dual_decks.each do |set|
    %tr
      %td.col-md-1= image_tag(set.set_visual.url, class: 'list-set-logo') if set.set_visual.url
      %td.col-md-11= link_to set.name, extension_set_path(slug: set.slug)

%h3 Réédition / masters sets
%table.table.js-extension-cards
  - @reiditions.each do |set|
    %tr
      %td.col-md-1= image_tag(set.set_visual.url, class: 'list-set-logo') if set.set_visual.url
      %td.col-md-11= link_to set.name, extension_set_path(slug: set.slug)

%h3 Premium decks
%table.table.js-extension-cards
  - @premium_decks.each do |set|
    %tr
      %td.col-md-1= image_tag(set.set_visual.url, class: 'list-set-logo') if set.set_visual.url
      %td.col-md-11= link_to set.name, extension_set_path(slug: set.slug)

%h3 Houmouristiques
%table.table.js-extension-cards
  - @humouristics.each do |set|
    %tr
      %td.col-md-1= image_tag(set.set_visual.url, class: 'list-set-logo') if set.set_visual.url
      %td.col-md-11= link_to set.name, extension_set_path(slug: set.slug)

%h3 Débuter
%table.table.js-extension-cards
  - @starters.each do |set|
    %tr
      %td.col-md-1= image_tag(set.set_visual.url, class: 'list-set-logo') if set.set_visual.url
      %td.col-md-11= link_to set.name, extension_set_path(slug: set.slug)

%h3 Magic en ligne
%table.table.js-extension-cards
  - @onlines.each do |set|
    %tr
      %td.col-md-1= image_tag(set.set_visual.url, class: 'list-set-logo') if set.set_visual.url
      %td.col-md-11= link_to set.name, extension_set_path(slug: set.slug)

%h3 Autres
%table.table.js-extension-cards
  - @others.each do |set|
    %tr
      %td.col-md-1= image_tag(set.set_visual.url, class: 'list-set-logo') if set.set_visual.url
      %td.col-md-11= link_to set.name, extension_set_path(slug: set.slug)

%h3 Sans catégorie
%table.table.js-extension-cards
  - @_sets.each do |set|
    %tr
      %td.col-md-1= image_tag(set.set_visual.url, class: 'list-set-logo') if set.set_visual.url
      %td.col-md-11= link_to set.name, extension_set_path(slug: set.slug)
