= image_tag(@set.set_visual.url) if @set.set_visual.present?

.views-selection
  = 'vue normal |'
  = link_to 'vue visuel', extension_set_path(slug: @set.slug, params: { view: :visual })
%br

= form_for(:add, url: add_to_path, method: :post) do |form|
  .options
    - if user_signed_in?
      .modes.pull-left
        = link_to 'mode sélection', '#', class: 'btn btn-xs btn-success js-activate-selection-mode'
        .selection-mode.hidden
          .text
            %span.js-select-count 0
            carte(s) sélectionnée(s)
          %p Ajouter à :
          .pretty-radio-wrapper
            = form.radio_button(:to, :wishlist, checked: true, class: 'pretty-radio')
            = form.label(:to_wishlist, 'ma liste de souhait')
          .pretty-radio-wrapper
            = form.radio_button(:to, :collection, class: 'pretty-radio')
            = form.label(:to_collection, 'ma collection')
          .pretty-radio-wrapper
            = form.radio_button(:to, :deck, class: 'pretty-radio')
            = form.label(:to_deck, 'Un deck')
          = form.submit('valider', class: 'btn btn-xs btn-success')
          %p
            = link_to 'Tout sélectionner', '#', class: 'js-select-all'
            = '|'
            = link_to 'Tout désélectionner', '#', class: 'js-unselect-all'

    .filter.pull-right
      = link_to '#', class: 'btn btn-xs btn-success js-filter-btn' do
        %i.fa.fa-filter
      .filters.hidden
        Filtrer par
        =link_to 'cartes déjà présente dans ma collection', '#'
        = '|'
        =link_to 'cartes déjà présente dans mes listes de souhait', '#'
  %hr
  - if user_signed_in?
    %ul.cards-list.classic
      = render partial: 'extension_sets/show/card_checkbox_view', collection: @white_cards, as: :card
    %ul.cards-list.classic
      = render partial: 'extension_sets/show/card_checkbox_view', collection: @blue_cards, as: :card
    %ul.cards-list.classic
      = render partial: 'extension_sets/show/card_checkbox_view', collection: @black_cards, as: :card
    %ul.cards-list.classic
      = render partial: 'extension_sets/show/card_checkbox_view', collection: @red_cards, as: :card
    %ul.cards-list.classic
      = render partial: 'extension_sets/show/card_checkbox_view', collection: @green_cards, as: :card
    %ul.cards-list.classic
      = render partial: 'extension_sets/show/card_checkbox_view', collection: @gold_cards, as: :card
    %ul.cards-list.classic
      = render partial: 'extension_sets/show/card_checkbox_view', collection: @colorless_cards, as: :card
  - else
    %ul.cards-list.classic
      = render partial: 'extension_sets/show/simple_view', collection: @white_cards, as: :card
    %ul.cards-list.classic
      = render partial: 'extension_sets/show/simple_view', collection: @blue_cards, as: :card
    %ul.cards-list.classic
      = render partial: 'extension_sets/show/simple_view', collection: @black_cards, as: :card
    %ul.cards-list.classic
      = render partial: 'extension_sets/show/simple_view', collection: @red_cards, as: :card
    %ul.cards-list.classic
      = render partial: 'extension_sets/show/simple_view', collection: @green_cards, as: :card
    %ul.cards-list.classic
      = render partial: 'extension_sets/show/simple_view', collection: @gold_cards, as: :card
    %ul.cards-list.classic
      = render partial: 'extension_sets/show/simple_view', collection: @colorless_cards, as: :card

