%h1.set-show-title
  %i{ class: "ss ss-common ss-#{@set.code&.downcase}" }
  = @set.name

%ul.set-infos
  %li
    Release date :
    = @set.release_date.strftime("%m/%d/%Y")
  %li
    Total cards :
    = @set.card_count
  %li
    New cards :
    = @set.new_card_count
  %li
    Reprints (*) :
    = @set.reprint_count

.views-selection
  = 'list |'
  = link_to 'images', extension_set_path(slug: @set.slug, params: { view: :images })
  - if user_signed_in?
    = ' | '
    = link_to 'collection', extension_set_collection_path(slug: @set.slug)

- if accessible?
  = form_for(:add, url: add_to_path, method: :post) do |form|
    = render partial: 'actions_and_filters', locals: { form: form }

%hr

- if accessible? && user_signed_in?
  - [{ white: @white_cards }, { blue: @blue_cards }, { black: @black_cards }, { red: @red_cards }, { green: @green_cards }, { gold: @gold_cards }, { artefact: @colorless_artefact_cards }, { land: @land_cards }, { colorless: @colorless_non_artefact }, { double_card: @double_cards }, { hybrid: @hybrid_cards }].each do |list|
    - cards = list.values.first
    - if cards.any?
      .set-card-group
        %h3= list.keys.first.to_s.humanize
        %ul.cards-list.classic= render partial: 'card_checkbox_view', collection: cards.order('name ASC'), as: :card
- else
  - [[{ colorless: @colorless_non_artefact }, { artefact: @colorless_artefact_cards }], [{ white: @white_cards }], [{ blue: @blue_cards }], [{ black: @black_cards }], [{ red: @red_cards }], [{ green: @green_cards }], [{ gold: @gold_cards }, { double_card: @double_cards }, { hybrid: @hybrid_cards }], [{ land: @land_cards }]].each do |lists|
    - if lists.find { |list| lists.first.values.first.count.positive? }.present?
      .set-card-group{ class: lists.first.keys.first }
        - lists.each do |list|
          - cards = list.values.first
          - if cards.any?
            .list-group-title
              - list_size = (cards.count + 4 - ((cards.count + 4)%5))/5
              - if (mana_icons = mana_for_list(list.keys.first)).present?
                - mana_icons.each do |m_ico|
                  %span.bloc-mana.ms.ms-cost{ class: m_ico }
              %h3= list.keys.first.to_s.humanize

            .cards-list.classic
              - cards.order('name ASC').in_groups_of(list_size) do |card|
                .group
                  - card.compact.each do |card|
                    = render partial: 'simple_view', locals: { card: card, show_collection: false }

- if @set.name.parameterize == "time-spiral"
  - set = ExtensionSet.where(slug: 'time-spiral-timeshifted').first!
  .set-card-group
    %h3 Timeshifted
    .cards-list.classic
      - cards = set.cards.decorate
      - list_size = (cards.count + 4 - ((cards.count + 4)%5))/5
      - cards.order('name_clean ASC').in_groups_of(list_size) do |card|
        .group
          - card.compact.each do |card|
            = render partial: 'simple_view', locals: { card: card, show_collection: false }
