%h1
  %i{ class: "ss ss-common ss-#{@set.code&.downcase}" }
  = @set.name

.views-selection
  = link_to 'Vue liste', extension_set_path(slug: @set.slug, params: { view: :classic })
  = ' | Gallerie'

%br

= render partial: 'display_visual'
