.views-selection
  = link_to 'vue normal', extension_set_path(slug: @set.slug, params: { view: :classic })
  = ' | vue visuel'




%ul.cards-list.visual
  - @white_cards.each do |card|
    %li
      = image_tag(card.visual, class: 'img-responsive')
      = link_to card.title, '#'
%ul.cards-list.visual
  - @blue_cards.each do |card|
    %li
      = image_tag(card.visual, class: 'img-responsive')
      = link_to card.title, '#'
%ul.cards-list.visual
  - @black_cards.each do |card|
    %li
      = image_tag(card.visual, class: 'img-responsive')
      = link_to card.title, '#'
%ul.cards-list.visual
  - @red_cards.each do |card|
    %li
      = image_tag(card.visual, class: 'img-responsive')
      = link_to card.title, '#'
%ul.cards-list.visual
  - @green_cards.each do |card|
    %li
      = image_tag(card.visual, class: 'img-responsive')
      = link_to card.title, '#'
%ul.cards-list.visual
  - @gold_cards.each do |card|
    %li
      = image_tag(card.visual, class: 'img-responsive')
      = link_to card.title, '#'
%ul.cards-list.visual
  - @colorless_cards.each do |card|
    %li
      = image_tag(card.visual, class: 'img-responsive')
      = link_to card.title, '#'
