= link_to @set.name, json_set_path(@set)

.text-left
  %h3= @card.name

.row
  .col-sm-6
    %table.table
      %tr
        %td= @card.name
      %tr
        %td= @card.number
  .col-sm-6.text-center
    = image_tag(card_scryfall_image_url(@card), class: 'img-responsive')
