%h1
  Rechercher :
  = "'#{@term}'"

%p= "#{@results.count} résultat(s)"

%table.table
  - @results.decorate.each do |card|
    %tr
      %td.col-md-8= card.title(show_rarity: true, show_extension: true)
      %td.col-md-1
        = link_to 'voir', card_path(card.id), class: 'btn btn-primary btn-xs'
