%h1= "Mon compte (#{current_user.name})"

- if current_user.presentation.present?
  %h3 Ma description :
  %p= "#{current_user.presentation}"
- else
  %p Je n'ai pas renseigné ma présentation.

  %p= link_to 'Modifier mon compte', edit_user_registration_path, class: 'btn btn-xs btn-success'

%br

%p
  - if current_user.decks.count.positive?
    = "Nombre de decks : #{current_user.decks.count}"
  - if current_user.decks.publics.count.positive?
    = "Nombre de decks publiques : #{current_user.decks.publics.count}"
