.text-left
  = paginate(@sets, theme: :classic_small)

%table.table
  %thead
    %tr
      %td Nom
      %td Type
      %td Date de sortie
      %td Nb de Cartes
  %tbody
    - @sets.each do |set|
      %tr
        %td= link_to "#{set.name} (#{set.code})", json_set_path(set, back_page: params['page'])
        %td= set.set_type&.gsub('_', ' ')&.humanize
        %td= set.release_date.split('-').reverse.join('/')
        %td
          = set.json_cards.count + set.json_tokens.count

.text-center
  = paginate(@sets, theme: :classic)
