.text-left
  %h3= @set.name

= link_to 'Gallerie', visuals_json_set_path(@set)

%table.table
  %thead
    %tr
      %td Nom
      %td Numéro
  %tbody
    - @cards.each do |card|
      %tr
        %td= link_to card.name, json_set_json_card_path(@set, card)
        %td= card.number
    - @tokens.each do |token|
      %tr
        %td= link_to token.name, json_set_json_token_path(@set, token)
        %td= token.number
