= link_to '< back', user_decks_path

%h1 Manage categories

= link_to new_category_path, class: 'btn btn-xs btn-primary' do
  %span.glyphicon.glyphicon-plus
  new category

%br

- if current_user.categories.none?
  %p No category

- else
  %ul
    - current_user.categories.each do |category|
      %li
        = category.name
        = ':'
        = category.decks.count
