- cache("#{@wishlist.cache_key(:updated_at)}", expires_in: 2.days) do
  %h1= @wishlist.name
  .views-selection
    = 'vue normal |'
    = link_to 'vue visuel', wishlist_path(id: @wishlist.id, params: { view: :visual })

  %br

  = form_for(:add, url: add_to_path, method: :post) do |form|
    = render partial: 'actions_and_filters', locals: { form: form }

    %hr

    - [{ white: @white_cards }, { blue: @blue_cards }, { black: @black_cards }, { red: @red_cards }, { green: @green_cards }, { gold: @gold_cards }, { artefacts: @colorless_artefact_cards }, { lands: @land_cards }, { others: @colorless_non_artefact }].each do |list|
      - cards = list.values.first
      - if cards.any?
        %h3= list.keys.first.to_s.humanize
        %ul.cards-list.classic= render partial: 'card_quantity_view', collection: cards, as: :card
