= form_for(@format, url: admin_format_path(@format)) do |form|
  .form-group
    = label_tag(:format_name, 'Nom :')
    = form.text_field(:name, class: 'form-control')
  .form-group
    = label_tag(:format_card_limit, 'Limite de cartes :')
    = form.text_field(:card_limit, class: 'form-control')
  .form-group
    = label_tag(:format_card_occurence_limit, 'Occurences par carte :')
    = form.text_field(:card_occurence_limit, class: 'form-control')

  .form-group
    - select_options = options_for_select(@format.cards.collect { |card| [card.name, card.id] }, @format.cards.ids)
    = form.select(:card_ids, select_options || [], { multiple: true }, { id: 'card-search', class: 'form-control', multiple: true })
  .form-group
    - select_options = options_for_select(@format.extension_sets.collect { |extension| [extension.name, extension.id] }, @format.extension_sets.ids)
    = form.select(:extension_set_ids, select_options || [], { multiple: true }, { id: 'extension-set-search', class: 'form-control', multiple: true })

  = form.submit('Valider', class: 'btn btn-success')
