%li{ data: { card_id: card.id}}
  = image_tag(card.visual, class: 'img-responsive')
  %div= "#{card.title(show_rarity: true) } x <span class=\"occurence\">#{deck.card_decks.where(card_id: card.id).first.occurences_in_sideboard}</span>".html_safe
  = form_for(:deck, url: manage_card_path, html: { class: 'deck-quantity-form' }, remote: true) do |form|
    = form.hidden_field(:card_id, value: card.id)
    = form.hidden_field(:deck_id, value: deck.id)
    = form.hidden_field(:operator, value: 'plus_sideboard')
    = form.submit('+', class: '')
  = form_for(:deck, url: manage_card_path, html: { class: 'deck-quantity-form' }, remote: true) do |form|
    = form.hidden_field(:card_id, value: card.id)
    = form.hidden_field(:deck_id, value: deck.id)
    = form.hidden_field(:operator, value: 'minus_sideboard')
    = form.submit('-', class: '')
  = form_for(:deck, url: manage_card_path, html: { class: 'deck-quantity-form' }, remote: true) do |form|
    = form.hidden_field(:card_id, value: card.id)
    = form.hidden_field(:deck_id, value: deck.id)
    = form.hidden_field(:operator, value: 'move_maindeck')
    = form.submit('MD', class: '')
