%br
%br
= form_for(@deck, url: url, method: method, html: { class: 'deck-form' }) do |form|
  - errors = @deck.errors&.messages || {}
  .row
    .col-sm-5
      .form-group
        = form.text_field(:name, class: 'form-control')
    - if current_user.categories.any?
      .col-sm-5
        .form-group
          - select_options = options_for_select(current_user.categories.collect { |category| [category.name, category.id] }, @deck.category_id)
          = form.select(:category_id, select_options || [], { include_blank: true }, { class: 'form-control' })
    .col-sm-2
      .checkbox
        = form.check_box :is_public
        Public ?
  .form-group
    - rows = @deck.new_record? ? 3 : @deck.description.count("\r") + 1
    - rows = 3 if rows < 3
    = form.text_area(:description, class: 'form-control', placeholder: 'Description', rows: rows)
  .form-group
    .text-right
      = form.submit('Save', class: 'btn btn-primary')
