%h3= @deck.name

%p
  = "#{@deck.card_number} #{'carte'.pluralize(@deck.card_number)}"
  - if @deck.format.positive?
    , Format(s):
    = @deck.formats

%p= render 'deck_menu', locals: { view: 'collection' }

%table.table.js-in-collection-table
  %thead
    %tr
      %td.col-md-1
      %td.col-md-3 Name
      %td.col-md-3 sets
      %td.col-md-1 own
      %td.col-md-4 Quantity
  %tbody
    - @cards.each do |card_id, card_count|
      - card = Card.find(card_id).decorate
      = render partial: 'decks/add_collection_row', locals: { card: card, card_count: card_count }

