= render partial: 'deck_form', locals: { deck: @deck, method: :patch, url: update_deck_path(slug: @deck.slug) }

= form_for(:deck, url: deck_add_card_path(slug: @deck.slug), html: { class: 'deck-quantity-form' }, remote: !true) do |form|
  .form-group
    = select_tag('deck_card_ids[]', [], id: 'card-search', class: 'form-control' )
  = form.submit('Ajouter', class: 'btn btn-success')
%br
Main :
%ul.cards-list.visual.main-deck.edition
  - @main_cards.decorate.each do |card|
    = render partial: 'card_in_maindeck', locals: { card: card, deck: @deck }


Sideboard :
%ul.cards-list.visual.side-board.edition
  - @sideboards.decorate.each do |card|
    = render partial: 'card_in_sideboard', locals: { card: card, deck: @deck }
