= link_to 'retour', my_deck_path(@deck)

= render partial: 'deck_form', locals: { deck: @deck, method: :patch, url: update_deck_path(slug: @deck.slug) }

= form_for(:deck, url: deck_add_card_path(slug: @deck.slug), html: { class: 'deck-quantity-form' }, remote: !true) do |form|
  - if current_user.categories.any?
    .form-group
      %label Catégorie :
      - select_options = options_for_select(current_user.categories.collect { |category| [category.name, category.id] }, @deck.category_id)
      = form.select(:category_id, select_options || [], { include_blank: true }, { class: 'form-control' })
  .form-group
    %label Ajouter des cartes :
    = select_tag('deck_card_ids[]', [], id: 'card-search', class: 'form-control' )
  .form-group
    %label Description :
    = form.text_area(:description, class: 'form-control')
  = form.submit('Ajouter', class: 'btn btn-success')
%br
Main :
%ul.cards-list.visual.main-deck.edition
  - @main_cards.decorate.each do |card|
    = render partial: 'card_in_maindeck', locals: { card: card, deck: @deck }
Sideboard :
%ul.cards-list.visual.side-board.edition
  - @sideboards.decorate.each do |card|
    = render partial: 'card_in_sideboard', locals: { card: card, deck: @deck }

#edit-visual.modal.fade{ role: :dialog, tabindex: "-1" }
  .modal-dialog{ role: :document }
    .modal-content
      .modal-body
        %ul

.hidden
  = form_for(:change_visual, url: deck_change_visual_path(format: :js), remote: true, html: { class: 'js-form-change-visual' }) do |form|
    = form.hidden_field(:deck_id, value: @deck.id)
    = form.hidden_field(:initial_card_id)
    = form.hidden_field(:reprint_card_id)
