= render partial: 'deck_form', locals: { deck: @deck, method: :patch, url: update_deck_path(slug: @deck.slug) }

Main :
%ul.cards-list.visual
  - @main_cards.decorate.each do |card|
    %li
      = image_tag(card.visual, class: 'img-responsive')
      %div= "#{card.title(show_rarity: true) } x #{@deck.card_decks.where(card_id: card.id).first.occurences_in_main_deck}".html_safe
      = form_for(:deck, url: manage_card_path, html: { class: 'deck-quantity-form' }, remote: true) do |form|
        = form.hidden_field(:card_id, value: card.id)
        = form.hidden_field(:deck_id, value: @deck.id)
        = form.hidden_field(:operator, value: 'minus_maindeck')
        = form.submit('-', class: '')
      = form_for(:deck, url: manage_card_path, html: { class: 'deck-quantity-form' }, remote: true) do |form|
        = form.hidden_field(:card_id, value: card.id)
        = form.hidden_field(:deck_id, value: @deck.id)
        = form.hidden_field(:operator, value: 'plus_maindeck')
        = form.submit('+', class: '')
      = form_for(:deck, url: manage_card_path, html: { class: 'deck-quantity-form' }, remote: true) do |form|
        = form.hidden_field(:card_id, value: card.id)
        = form.hidden_field(:deck_id, value: @deck.id)
        = form.hidden_field(:operator, value: 'move_sideboard')
        = form.submit('SB', class: '')

Sideboard :
%ul.cards-list.visual
  - @sideboards.decorate.each do |card|
    %li
      = image_tag(card.visual, class: 'img-responsive')
      %div= "#{card.title(show_rarity: true) } x #{@deck.card_decks.where(card_id: card.id).first.occurences_in_sideboard}".html_safe
      = form_for(:deck, url: manage_card_path, html: { class: 'deck-quantity-form' }, remote: true) do |form|
        = form.hidden_field(:card_id, value: card.id)
        = form.hidden_field(:deck_id, value: @deck.id)
        = form.hidden_field(:operator, value: 'minus_sideboard')
        = form.submit('-', class: '')
      = form_for(:deck, url: manage_card_path, html: { class: 'deck-quantity-form' }, remote: true) do |form|
        = form.hidden_field(:card_id, value: card.id)
        = form.hidden_field(:deck_id, value: @deck.id)
        = form.hidden_field(:operator, value: 'plus_sideboard')
        = form.submit('+', class: '')
      = form_for(:deck, url: manage_card_path, html: { class: 'deck-quantity-form' }, remote: true) do |form|
        = form.hidden_field(:card_id, value: card.id)
        = form.hidden_field(:deck_id, value: @deck.id)
        = form.hidden_field(:operator, value: 'move_maindeck')
        = form.submit('MD', class: '')
