%h1 My decks

= link_to new_deck_path, class: 'btn btn-xs btn-primary' do
  %span.glyphicon.glyphicon-plus
  Create a deck
= ''
= link_to import_deck_path, class: 'btn btn-xs btn-success' do
  %span.glyphicon.glyphicon-arrow-down
  Import from a list
= ''
= link_to categories_path, class: 'btn btn-xs btn-primary' do
  %span.glyphicon.glyphicon-plus
  Organize categories

%br
%br

%section.deck-list
  - if @decks.any?
    %table
      %tr
        %th Name
        %th Category
        %th Colors
        %th Format
        %th Public ?
        %th
      - @decks.each do |deck|
        %tr
          %td.col-sm-3= link_to deck.name.truncate(35), my_deck_path(slug: deck.slug)
          %td.col-sm-2= deck.category&.name
          %td.col-sm-2
            .hidden= deck.colors.sort.join(' ')
            = show_mana_cost(deck)
          %td.col-sm-2= deck.formats
          %td.col-sm-1
            - if deck.is_public?
              %span.glyphicon.glyphicon-eye-open
          %td.col-sm-2
            = link_to 'Edit', edit_deck_path(slug: deck.slug), class: 'warning'
            = link_to 'Destroy', destroy_deck_path(slug: deck.slug), method: :post, class: 'danger', data: { confirm: "Supprimer le deck #{deck.name} ?" }
    = render partial: 'pagy/nav', locals: { pagy: @pagy }
  - else
    %p
      You have no deck !
      = link_to 'Create a new one !', new_deck_path
