%h1 My decks

= link_to new_deck_path do
  Create a deck
= '/'
= link_to categories_path do
  Organize categories
%br
%br

%section.deck-list
  .row
    = form_for(@search, url: user_decks_path, method: :get) do |f|
      .col-md-4
        .form-group
          - options = options_for_select(Card.where(id: @search.card_ids).collect {|card| { card.name => card.id } }.first, @search.card_ids) if @search.card_ids.present?
          = f.select('card_ids', options || [], { multiple: true }, { multiple: true, id: 'card-search', class: 'form-control', data: { placeholder: 'search a card' } })
      .col-sm-2
        = f.submit('Filter', class: 'btn btn-success')
  - if @decks.any?
    = form_for(:missing_card_from_dekcs, url: missing_card_from_decks_path, method: :post) do |f|
      %table{ style: "width: 100%;" }
        - @decks.each do |deck|
          %tr
            %td.col-sm-1.text-right
              = "#{deck.complete_percent} %"
              = "&nbsp;".html_safe
              = "&nbsp;".html_safe
            %td.col-sm-3= link_to deck.name.truncate(35), my_deck_path(slug: deck.slug)
            %td.col-sm-2
              .hidden= deck.colors.sort.join(' ')
              = show_mana_cost(deck)
            %td.col-sm-2= deck.category&.name
            %td.col-sm-2= deck.formats
            %td.col-sm-2
              = link_to 'Edit', edit_deck_path(slug: deck.slug), class: ''
              = link_to 'Destroy', destroy_deck_path(slug: deck.slug), method: :post, class: '', data: { confirm: "Supprimer le deck #{deck.name} ?" }
              = link_to calculate_complete_percent_decks_path(deck.id), method: :post, class: '' do
                referesh
              = f.check_box :deck_ids, { multiple: true }, deck.id, nil
        %tr
          %td{ colspan: 5 }
          %td= f.submit('cartes manquantes')
      = render partial: 'pagy/nav', locals: { pagy: @pagy } if @pagy.count > @pagy.items
  - else
    %p
      You have no deck !
      = link_to 'Create a new one !', new_deck_path
