%h1 Mes decks

= link_to new_deck_path, class: 'btn btn-xs btn-primary' do
  %span.glyphicon.glyphicon-plus
  Créer un deck
= ''
= link_to import_deck_path, class: 'btn btn-xs btn-success' do
  %span.glyphicon.glyphicon-arrow-down
  Importer un deck
= ''
= link_to categories_path, class: 'btn btn-xs btn-primary' do
  %span.glyphicon.glyphicon-plus
  Organiser les catégories

%section.deck-list

  - if @decks.any?
    %ul
      - @decks.each do |deck|
        %li.row
          .col-sm-3= link_to deck.name.truncate(35), my_deck_path(id: deck.id)
          .col-sm-2= deck.category&.name
          .col-sm-2
            = show_mana_cost(deck)
          .col-sm-2= deck.formats
          .col-sm-1
            - if deck.is_public?
              %span.glyphicon.glyphicon-eye-open
          .col-sm-1= link_to 'editer', edit_deck_path(slug: deck.slug), class: 'btn btn-xs btn-warning'
          .col-sm-1= link_to 'supprimer', destroy_deck_path(slug: deck.slug), method: :post, class: 'btn btn-xs btn-danger', data: { confirm: "Supprimer le deck #{deck.name} ?" }
    = render partial: 'pagy/nav', locals: { pagy: @pagy }
  - else
    %p Vous n'avez aucun deck
