%header
  %h1= "#{@card.name} - #{@card.extension_set.name}"

.row.card-view
  .col-md-3
    = image_show(@card) if @card.image.present?
    - if current_user.present? && current_user.is_admin?
      %br
      %br
      %ul
        %li= link_to 'Create from ...', new_admin_card_path(from: @card.id), class: 'btn btn-xs btn-primary'
  .col-md-4
    %ul
      %li= link_to 'see on gatherer', @card.gatherer_link, target: '_blank'
      - if accessible? && user_signed_in?
        %li ajouter a la wishlist
        %li.add-to-deck
          ajouter à
          = form_for(:add_to_deck, url: add_card_to_deck_path, html: { class: 'add-to-deck'}) do |form|
            - if current_user.decks.any?
              - decks = current_user.decks.collect { |d| [d.name, d.id] }
              - decks << ['nouveau deck', nil]
            - else
              - decks = [['nouveau deck', nil]]
            = form_for(:add_to_deck, url: add_card_to_deck_path, html: { class: 'add-to-deck'}) do |form|
              = form.hidden_field(:card_id, value: @card.id)
              = form.select(:deck_id, options_for_select(decks))
              = form.submit('ok', class: 'btn btn-xs btn-success')

    - if @card.reprint_cards.any?
      Editions :
      %ul
        - @card.reprint_cards.each do |reprint|
          %li= link_to "Version #{reprint.extension_set.name}", extension_set_card_path(slug: reprint.extension_set.slug, id: reprint.id)
