%header
  %h1= "#{@card.name} - #{@card.extension_set.name}"

.row.card-view
  .col-md-3
    = image_tag @card.image.url if @card.image.present?
  .col-md-4
    %ul
      %li= link_to 'Voir sur gatherer', @card.gatherer_link, target: '_blank'
      %li prix mkm
      %li présent dans les deck
      %li ajouter a la wishlist
      - if user_signed_in?
        %li.add-to-deck
          ajouter à
          = form_for(:add_to_deck, url: add_card_to_deck_path, html: { class: 'add-to-deck'}) do |form|
            - if current_user.decks.any?
              - decks = current_user.decks.collect { |d| [d.name, d.id] }
              - decks << ['nouveau deck', nil]
            - else
              - decks = [['nouveau deck', nil]]
            = form_for(:add_to_deck, url: add_card_to_deck_path, html: { class: 'add-to-deck'}) do |form|
              = form.hidden_field(:card_id, value: @card.id)
              = form.select(:deck_id, options_for_select(decks))
              = form.submit('ok', class: 'btn btn-xs btn-success')

      - if @card.reprint_cards.any?
        - if @card.reprint_cards.count < 3
          - @card.reprint_cards.each do |reprint|
            %li= link_to "Version #{reprint.extension_set.name}", extension_set_card_path(slug: reprint.extension_set.slug, id: reprint.id)
        - else
          .dropdown
            %button#dropdownMenu1.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
              Réimpression
              %span.caret
            %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
              - @card.reprint_cards.each do |reprint|
                %li= link_to "Version #{reprint.extension_set.name}", extension_set_card_path(slug: reprint.extension_set.slug, id: reprint.id)
