%section.text-center
  %h1 Login
  .text-center.login-pannel
    %p
      Not registerd ?
      = link_to 'Create an account', new_user_registration_path
    = form_for(:user, url: user_session_path, method: :post) do |form|
      .form-group
        = form.email_field(:email, class: 'form-control', placeholder: 'email@domain.com')
      .form-group
        = form.password_field(:password, class: 'form-control', placeholder: 'password')
      .form-group
        = form.submit('Connexion', class: 'btn btn-sm btn-primary')
    = link_to 'Forgot password ?', new_user_password_path
