%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      - if current_user && current_user.is_admin?
        - if local_assigns[:admin_link].presence
          = link_to 'Lordyawgmoth.com', root_path, class: 'navbar-brand'
        - else
          = #link_to 'ADMIN', admin_root_path, class: 'navbar-brand'
      - else
        = link_to 'Lordyawgmoth.com', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to 'SETS', extension_sets_path
        - if accessible?
          %li
            = link_to 'DECK', public_decks_path
        - if accessible? && user_signed_in?
          %li
            = link_to wishlists_path do
              WISHLIST
          - if accessible?
            %li
              = link_to user_decks_path do
                MY DECKS
          %li
            = link_to card_collection_path do
              COLLECTION
      - if accessible?
        = form_for :card_search, url: card_search_path, method: :get, html: { id: 'menu-card-search', class: 'navbar-form navbar-right' } do |form|
          .form-group
            = form.text_field(:term, value: @term.presence, class: 'form-control', placeholder: "Rechercher une carte")
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          - if accessible?
            %li
              = link_to user_account_path do
                ACCOUNT
          %li= link_to 'LOGOUT', destroy_user_session_path, method: :delete, class: 'connexion-link'
        - else
          - if accessible?
            %li= link_to 'LOGIN', connexion_path, class: 'connexion-link'
